[submodule "highdicom"]
	path = highdicom
	url = https://github.com/ImagingDataCommons/highdicom.git
[submodule "dcmjs"]
	path = dcmjs
	url = https://github.com/dcmjs-org/dcmjs
[submodule "dcmqi"]
	path = dcmqi
	url = https://github.com/QIICR/dcmqi
[submodule "pixelmed"]
	path = pixelmed
	url = https://github.com/fedorov/pixelmed.git
[submodule "dcmtk"]
	path = dcmtk
	url = https://github.com/DCMTK/dcmtk
[submodule "Weasis"]
	path = Weasis
	url = https://github.com/nroduit/Weasis
[submodule "dcm4che"]
	path = dcm4che
	url = https://github.com/dcm4che/dcm4che.git
[submodule "weasis-dicom-tools"]
	path = weasis-dicom-tools
	url = https://github.com/nroduit/weasis-dicom-tools.git
